$background: #202020;
$background-highlight: #303030;
$foreground: #9fccff;
$white: #e1e1e1;
$red: #ff4d7a;

.bar {
  background: $background;
  font-size: 1.6rem;
  color: $foreground;
}

.left,
.center,
.right { 
  padding: 10px;
  background: $background-highlight;
}

.tag {
  margin: 4px 0px;
  border-bottom: 2px solid rgba(0,0,0,0);

  &:hover { 
    // transition: 100ms linear border-color;
    border-bottom: 2px solid $red;
    color: $red;
  }
}

.icons {
  font-size: 2rem;
}

.power {
   &:hover {
    color: $red;
  }
}

// Calendar
.cal-box {
  background-color: $background;
  font-size: 1.35em;
  font-weight: bold;
  color: $foreground;
}
.cal-inner-box {
  padding: 1rem 1rem .2rem; 
}

.cal {
  &.highlight {
    padding: 10rem;
  }

  padding: .8rem .25rem 0rem;
  margin-left: 10px;
}

calendar:selected {
  color: $white;
}

calendar.header,
calendar.highlight {
  font-weight: bold;
}

calendar:indeterminate {
  color: $background;
}