binds {
    // Keys consist of modifiers separated by + signs, followed by an XKB key name
    // in the end. To find an XKB name for a particular key, you may use a program
    // like wev.
    //
    // "Mod" is a special modifier equal to Super when running on a TTY, and to Alt
    // when running as a winit window.
    //
    // Most actions that you can bind here can also be invoked programmatically with
    // `niri msg action do-something`.

    // Mod-Shift-/, which is usually the same as Mod-?,
    // shows a list of important hotkeys.
    Mod+Shift+Slash hotkey-overlay-title="Show Important Hotkeys"{ show-hotkey-overlay; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+T hotkey-overlay-title="Open Terminal" { spawn "kitty"; }
    Mod+D hotkey-overlay-title="Toggle Spotlight" { spawn-sh "dms ipc call spotlight toggle"; }
    Super+Alt+L hotkey-overlay-title="Lock Screen" allow-when-locked=true { spawn-sh "dms ipc call lock lock"; }
    Super+Alt+R hotkey-overlay-title="Restart DMS" allow-when-locked=true { spawn-sh "dms restart"; }
    Mod+B hotkey-overlay-title="Open Browser" { spawn "zen-browser"; }
    Mod+P hotkey-overlay-title="Open File Manager" { spawn-sh "kitty -e fish -c yazi"; }

    // Use spawn-sh to run a shell command. Do this if you need pipes, multiple commands, etc.
    // Note: the entire command goes as a single argument. It's passed verbatim to `sh -c`.
    // For example, this is a standard bind to toggle the screen reader (orca).
    // Super+Alt+S allow-when-locked=true hotkey-overlay-title=null { spawn-sh "pkill orca || exec orca"; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    // Using spawn-sh allows to pass multiple arguments together with the command.
    // "-l 1.0" limits the volume to 100%.
    XF86AudioRaiseVolume hotkey-overlay-title="Raise Volume" allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; }
    XF86AudioLowerVolume hotkey-overlay-title="Lower Volume" allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute       hotkey-overlay-title="Toggle Volume" allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute    hotkey-overlay-title="Toggle Microphone" allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Example media keys mapping using playerctl.
    // This will work with any MPRIS-enabled media player.
    XF86AudioPlay hotkey-overlay-title="Play Audio" allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop hotkey-overlay-title="Stop Audio" allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev hotkey-overlay-title="Previous Audio" allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext hotkey-overlay-title="Next Audio" allow-when-locked=true { spawn-sh "playerctl next"; }

    // Example brightness key mappings for brightnessctl.
    // You can use regular spawn with multiple arguments too (to avoid going through "sh"),
    // but you need to manually put each argument in separate "" quotes.
    // XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    // XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    // You can also move the mouse into the top-left hot corner,
    // or do a four-finger swipe up on a touchpad.
    Mod+O hotkey-overlay-title="Open Overview" repeat=false { toggle-overview; }

    Mod+Q hotkey-overlay-title="Close Window" repeat=false { close-window; }

    // Mod+Left  { focus-column-left; }
    // Mod+Down  { focus-window-down; }
    // Mod+Up    { focus-window-up; }
    // Mod+Right { focus-column-right; }
    Mod+H hotkey-overlay-title="Focus Column Left" { focus-column-left; }
    // Mod+J     { focus-window-down; }
    // Mod+K     { focus-window-up; }
    Mod+L hotkey-overlay-title="Focus Column Right" { focus-column-right; }

    // Mod+Ctrl+Left  { move-column-left; }
    // Mod+Ctrl+Down  { move-window-down; }
    // Mod+Ctrl+Up    { move-window-up; }
    // Mod+Ctrl+Right { move-column-right; }
    Mod+Shift+H hotkey-overlay-title="Move To Column Left" { move-column-left; }
    // Mod+Ctrl+J     { move-window-down; }
    // Mod+Ctrl+K     { move-window-up; }
    Mod+Shift+L hotkey-overlay-title="Move To Column Right" { move-column-right; }

    // Alternative commands that move across workspaces when reaching
    // the first or last window in a column.
    Mod+J hotkey-overlay-title="Focus Column/Workspace Down" { focus-window-or-workspace-down; }
    Mod+K hotkey-overlay-title="Focus Column/Workspace Up" { focus-window-or-workspace-up; }
    Mod+Shift+J hotkey-overlay-title="Move To Column/Workspace Down" { move-window-down-or-to-workspace-down; }
    Mod+Shift+K hotkey-overlay-title="Move To Column/Workspace Up" { move-window-up-or-to-workspace-up; }

    Mod+Home hotkey-overlay-title="Focus Column First" { focus-column-first; }
    Mod+End hotkey-overlay-title="Focus Column Last" { focus-column-last; }
    Mod+Shift+Home hotkey-overlay-title="Move Column To First" { move-column-to-first; }
    Mod+Shift+End hotkey-overlay-title="Move Column To Last" { move-column-to-last; }

    // Mod+Shift+Left  { focus-monitor-left; }
    // Mod+Shift+Down  { focus-monitor-down; }
    // Mod+Shift+Up    { focus-monitor-up; }
    // Mod+Shift+Right { focus-monitor-right; }
    // Mod+Shift+H     { focus-monitor-left; }
    // Mod+Shift+J     { focus-monitor-down; }
    // Mod+Shift+K     { focus-monitor-up; }
    // Mod+Shift+L     { focus-monitor-right; }

    // Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    // Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    // Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    // Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    // Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    // Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // ...

    // And you can also move a whole workspace to another monitor:
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...

    // Mod+Page_Down      { focus-workspace-down; }
    // Mod+Page_Up        { focus-workspace-up; }
    // Mod+U              { focus-workspace-down; }
    // Mod+I              { focus-workspace-up; }
    // Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    // Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    // Mod+Ctrl+U         { move-column-to-workspace-down; }
    // Mod+Ctrl+I         { move-column-to-workspace-up; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...

    // Mod+Shift+Page_Down { move-workspace-down; }
    // Mod+Shift+Page_Up   { move-workspace-up; }
    // Mod+Shift+U         { move-workspace-down; }
    // Mod+Shift+I         { move-workspace-up; }
    Mod+Ctrl+J hotkey-overlay-title="Move Workspace Down" { move-workspace-down; }
    Mod+Ctrl+K hotkey-overlay-title="Move Workspace Up" { move-workspace-up; }

    // You can bind mouse wheel scroll ticks using the following syntax.
    // These binds will change direction based on the natural-scroll setting.
    //
    // To avoid scrolling through workspaces really fast, you can use
    // the cooldown-ms property. The bind will be rate-limited to this value.
    // You can set a cooldown on any bind, but it's most useful for the wheel.
    Mod+WheelScrollDown hotkey-overlay-title="Focus Workspace Down" cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp hotkey-overlay-title="Focus Workspace Up" cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown hotkey-overlay-title="Move Column To Workspace Down" cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp hotkey-overlay-title="Move Column To Workspace Up" cooldown-ms=150 { move-column-to-workspace-up; }

    // Mod+WheelScrollRight hotkey-overlay-title="Focus Column Right" { focus-column-right; }
    // Mod+WheelScrollLeft hotkey-overlay-title="Focus Column Left" { focus-column-left; }
    // Mod+Ctrl+WheelScrollRight hotkey-overlay-title="Move Column Right" { move-column-right; }
    // Mod+Ctrl+WheelScrollLeft hotkey-overlay-title="Move Column Left" { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Shift+WheelScrollDown hotkey-overlay-title="Focus Column Right" { focus-column-right; }
    Mod+Shift+WheelScrollUp hotkey-overlay-title="Focus Column Left" { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown hotkey-overlay-title="Move Column Right" { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp hotkey-overlay-title="Move Column Left" { move-column-left; }

    // Similarly, you can bind touchpad scroll "ticks".
    // Touchpad scrolling is continuous, so for these binds it is split into
    // discrete intervals.
    // These binds are also affected by touchpad's natural-scroll, so these
    // example binds are "inverted", since we have natural-scroll enabled for
    // touchpads by default.
    // Mod+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
    // Mod+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }

    // You can refer to workspaces by index. However, keep in mind that
    // niri is a dynamic workspace system, so these commands are kind of
    // "best effort". Trying to refer to a workspace index bigger than
    // the current workspace count will instead refer to the bottommost
    // (empty) workspace.
    //
    // For example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on
    // will all refer to the 3rd workspace.
    Mod+1 hotkey-overlay-title="Focus Workspace 1" { focus-workspace 1; }
    Mod+2 hotkey-overlay-title="Focus Workspace 2" { focus-workspace 2; }
    Mod+3 hotkey-overlay-title="Focus Workspace 3" { focus-workspace 3; }
    Mod+4 hotkey-overlay-title="Focus Workspace 4" { focus-workspace 4; }
    Mod+5 hotkey-overlay-title="Focus Workspace 5" { focus-workspace 5; }
    Mod+6 hotkey-overlay-title="Focus Workspace 6" { focus-workspace 6; }
    Mod+7 hotkey-overlay-title="Focus Workspace 7" { focus-workspace 7; }
    Mod+8 hotkey-overlay-title="Focus Workspace 8" { focus-workspace 8; }
    Mod+9 hotkey-overlay-title="Focus Workspace 9" { focus-workspace 9; }
    Mod+Ctrl+1 hotkey-overlay-title="Move Column To Workspace 1" { move-column-to-workspace 1; }
    Mod+Ctrl+2 hotkey-overlay-title="Move Column To Workspace 2" { move-column-to-workspace 2; }
    Mod+Ctrl+3 hotkey-overlay-title="Move Column To Workspace 3" { move-column-to-workspace 3; }
    Mod+Ctrl+4 hotkey-overlay-title="Move Column To Workspace 4" { move-column-to-workspace 4; }
    Mod+Ctrl+5 hotkey-overlay-title="Move Column To Workspace 5" { move-column-to-workspace 5; }
    Mod+Ctrl+6 hotkey-overlay-title="Move Column To Workspace 6" { move-column-to-workspace 6; }
    Mod+Ctrl+7 hotkey-overlay-title="Move Column To Workspace 7" { move-column-to-workspace 7; }
    Mod+Ctrl+8 hotkey-overlay-title="Move Column To Workspace 8" { move-column-to-workspace 8; }
    Mod+Ctrl+9 hotkey-overlay-title="Move Column To Workspace 9" { move-column-to-workspace 9; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+1 { move-window-to-workspace 1; }

    // Switches focus between the current and the previous workspace.
    // Mod+Tab { focus-workspace-previous; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Mod+BracketLeft hotkey-overlay-title="Consume Or Expel Window Left" { consume-or-expel-window-left; }
    Mod+BracketRight hotkey-overlay-title="Consume Or Expel Window Right" { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Mod+Comma hotkey-overlay-title="Consume Window Into Column" { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Mod+Period hotkey-overlay-title="Consume Window From Column" { expel-window-from-column; }

    Mod+R hotkey-overlay-title="Switch Preset Column Width" { switch-preset-column-width; }
    // Cycling through the presets in reverse order is also possible.
    // Mod+R { switch-preset-column-width-back; }
    Mod+Shift+R hotkey-overlay-title="Switch Preset Window Height" { switch-preset-window-height; }
    Mod+Ctrl+R hotkey-overlay-title="Reset Window Height" { reset-window-height; }
    Mod+F hotkey-overlay-title="Maximize Column" { maximize-column; }
    Mod+Shift+F hotkey-overlay-title="Fullscreen Window" { fullscreen-window; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    Mod+Ctrl+F hotkey-overlay-title="Expand Column To Available Width" { expand-column-to-available-width; }

    Mod+C hotkey-overlay-title="Center Column" { center-column; }

    // Center all fully visible columns on screen.
    Mod+Ctrl+C hotkey-overlay-title="Center Visible Columns" { center-visible-columns; }

    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    Mod+Minus hotkey-overlay-title="Set Column Width -%" { set-column-width "-1%"; }
    Mod+Equal hotkey-overlay-title="Set Column Width +%" { set-column-width "+1%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus hotkey-overlay-title="Set Window Height -%" { set-window-height "-1%"; }
    Mod+Shift+Equal hotkey-overlay-title="Set Window Height +%" { set-window-height "+1%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+V hotkey-overlay-title="Toggle Window Floating" { toggle-window-floating; }
    Mod+Shift+V hotkey-overlay-title="Switch Focus Between Floating And Tiling" { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    Mod+W hotkey-overlay-title="Toggle Column Tabbed Display" { toggle-column-tabbed-display; }

    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    Print hotkey-overlay-title="Screenshot" { screenshot; }
    Ctrl+Print hotkey-overlay-title="Screenshot Screen" { screenshot-screen; }
    Alt+Print hotkey-overlay-title="Screenshot Window" { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape hotkey-overlay-title="Toggle Keyboard Shortcuts Inhibit" allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E hotkey-overlay-title="Quit Niri" { quit; }
    Ctrl+Alt+Delete hotkey-overlay-title="Quit Niri" { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P hotkey-overlay-title="Power Off Monitors" { power-off-monitors; }
}
